<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NanoBytes</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Averia+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Averia:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='/css/styles-creative.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar2 navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href= "https://www.ai-camp.org"><img src="https://static.wixstatic.com/media/12b467_a4ceef0f338c41c7885cb083ea36a00f~mv2_d_1742_1743_s_2.png/v1/fill/w_68,h_68,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ai%20camp%20logo.png"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href={{ url_for('home')}}>Homepage</a></li>
                        <li class="nav-item"><a class="nav-link" href={{ url_for('home', _anchor='about')}}>About</a></li> 
                      <li class="nav-item"><a class="nav-link" href={{ url_for('results')}}>Try The Model</a></li>
                      <li class="nav-item"><a class="nav-link"href ={{ url_for('home', _anchor='aboutus')}}>Our Team</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="cookchef">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">NanoBytes</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">An AI designed to help you reduce food waste, and make the most out of your ingredients.</p>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
      <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Generate your recipe</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">
                    <div  class="container px-4 px-lg-5">
         <p class="lead mb-5"><strong>Select the options that apply to what you want based on these categories</strong></p>
                     <!--input--> 
                        <form action="{{url_for('generate_text')}}" method="POST" source="custom" name="form-1" >
                          <div class="form-group">


<!-- <option selected disabled>Choose Tagging</option> -->
<select name="Category" id="Main_Category" onchange = "myFunction()">
  <option selected disabled>Select a category</option>
  <option value="Fruit">Fruit</option>
  <option value="Meat">Meat</option>
  <option value="Seafood">Seafood</option>
  <option value="Vegetables">Vegetables</option>
  <option value="Starches">Starches</option>
  <option value="Culture">Culture</option>
  <option value="Time">Timed</option>
  <option value="Other">Others</option>
  <option value="Beverages">Beverages</option>
  <option value="Dessert">Dessert</option>
</select>
                            
                          
<select name="category_input" id="Category_secondary" class="hidden">
</select>


<select name="Time" id="Time" class="hidden">
  <option selected disabled>Select a time</option>
  <option value="<15mins">Less than 15 mins</option>
  <option value="<30mins">Less than 30 mins</option>
  <option value="<60mins">Less than 60 mins</option>
  <option value="<4hrs">Less than 4 hrs</option>
</select>




<select name="Meat" id="Meat" class="hidden">
  <option selected disabled>Select a meat</option>
  <option value="Whole Turkey">Whole Turkey</option>
  <option value="Whole Chicken">Whole Chicken</option>
  <option value="Steak">Steak</option>
  <option value="Roast Beef">Roast Beef</option>
  <option value="Poultry">Poultry</option>
  <option value="Pork">Pork</option>
  <option value="Lamb/Sheep">Lamb/Sheep</option>
  <option value="Ham">Ham</option>
  <option value="Chicken Breast">Chicken Breast</option>
</select>




<select name="Fruit" id="Fruit" class="hidden">
  <option selected disabled>Select a fruit</option>
  <option value="Mango">Mango</option>
  <option value="Apple">Apple</option>
  <option value="Avocado">Avocado</option>
  <option value="Plums">Plums</option>
  <option value="Pineapple">Pineapple</option>
  <option value="Pears">Pears</option>
  <option value="Melons">Melons</option>
  <option value="Citrus">Citrus</option>
  <option value="Coconut">Coconut</option>
  <option value="Berries">Berries</option>
</select>



<select name="Culture" id="Culture" class="hidden">
  <option selected disabled>Select a culture</option>
  <option value="Chinese">Chinese</option>
  <option value="Vietnamese">Vietnamese</option>
  <option value="Thai">Thai</option>
  <option value="Tex Mex">Tex Mex</option>
  <option value="Mexican">Mexican</option>
  <option value="Korean">Korean</option>
  <option value="Japanese">Japanese</option>
  <option value="Indonesian">Indonesian</option>
  <option value="Hawaiian">Hawaiian</option>
  <option value="European">European</option>
</select>



<select name="Other" id="Other" class="hidden">
  <option selected disabled>Select other option</option>
  <option value="Tempeh">Tempeh</option>
  <option value="Stir Fry">Stir Fry</option>
  <option value="Soy/Tofu">Soy/Tofu</option>
  <option value="Savory">Savory</option>
  <option value="Sauces">Sauces</option>
  <option value="Salad Dressings">Salad Dressings</option>
  <option value="Roast">Roast</option>
  <option value="Curries">Curries</option>
  <option value="Black Beans">Black Beans</option>
  <option value="Stocks">Stocks</option>
  <option value="Stew">Stew</option>
  <option value="Clear Soup">Clear Soup</option>
  <option value="Gumbo">Gumbo</option>
  <option value="Chowders">Chowders</option>
</select>



<select name="Dessert" id="Dessert" class="hidden">
  <option selected disabled>Select a dessert</option>
  <option value="Tarts">Tarts</option>
  <option value="Scones">Scones</option>
  <option value="Savory Pies">Savory Pies</option>
  <option value="Pie">Pie</option>
  <option value="Frozen Desserts">Frozen Desserts</option>
  <option value="Drop Cookies">Drop Cookies</option>
  <option value="Dessert">Dessert</option>
  <option value="Bar Cookie">Bar Cookie</option>
  <option value="Candy">Candy</option>
</select>

<select name="Starches" id="Starches" class="hidden">
  <option selected disabled>Select a starch</option>
  <option value="Brown Rice">Brown Rice</option>
  <option value="White Rice">White Rice</option>
  <option value="Spaghetti">Spaghetti</option>
  <option value="Penne">Penne</option>
  <option value="Manicotti">Manicotti</option>
  <option value="Pasta Shells">Pasta Shells</option>
  <option value="Grains">Grains</option>
  <option value="Breads">Breads</option>
  <option value="Potato">Potato</option>
  <option value="Yam/Sweet Potato">Yam/Sweet Potato</option>
</select>

<select name="Beverages" id="Beverages" class="hidden">
  <option selected disabled>Select a beverage</option>
  <option value="Smoothies">Smoothies</option>
  <option value="Shakes">Shakes</option>
  <option value="Punch Beverage">Punch Beverage</option>
  <option value="Beverages">Beverages</option>
</select>


<select name="Vegetables" id="Vegetables" class="hidden" >
  <option selected disabled>Select a vegetable</option>
  <option value="Vegatable">Vegetable</option>
  <option value="Vegan">Vegan</option>
  <option value="Spinach">Spinach</option>
  <option value="Peppers">Peppers</option>
  <option value="Onions">Onions</option>
  <option value="Lentil">Lentil</option>
  <option value="Greens">Greens</option>
  <option value="Corn">Corn</option>
  <option value="Collard Greens">Collard Greens</option>
  <option value="Cauliflower">Cauliflower</option>
</select>



<select name="Seafood" id="Seafood" class="hidden">
  <option selected disabled>Select a seafood option</option>
  <option value="Crab">Crab</option>
  <option value="Tuna">Tuna</option>
  <option value="Mussels">Mussels</option>
  <option value="Bass">Bass</option>
  <option value="Catfish">Catfish</option>
  <option value="Trout">Trout</option>
  <option value="Tilapia">Tilapia</option>
  <option value="Halibut">Halibut</option>
  <option value="Crawfish">Crawfish</option>
  <option value="Lobster">Lobster</option>
  <option value="Squid">Squid</option>
</select>
</div>
                          <div class="form-group">
                            <textarea class="form-control-lg" rows="4" cols="50" placeholder="Write ingredients here..." required="" id="text_gen_input" name="ingredients_input"></textarea>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-light" id="text_gen_button" onclick="loading()">Start Cooking!</button>
                            <script>
                              function loading() {
                                secondary = document.getElementById("CircleLoading");
                                secondary.classList.remove("hidden");
                              }
                            </script>
                          </div>
                        </form>
                       
                      <div id="CircleLoading" class="hidden">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                      </div>
                        <br>
                    </div>
                      </div>
                   <div class="col-lg-8">
                     <center><h2 class="text-light">Recipe:</h2></center>
                      <ul id="generated_ul">
                        <center>
                          <p style="white-space: pre-line; font-family: "Times New Roman";" class="text-white">{{ generated }}
                        </p>
                        </center>
                      </ul>
                  </div>
          </div>
          </div>
             </section>
      <script>
        //hide select tags

      function myFunction() {
        category_value = document.getElementById("Main_Category").value;
        category = document.getElementById(category_value);
        secondary = document.getElementById("Category_secondary");
        secondary.innerHTML = category.innerHTML; // copy all <options>   
        secondary.classList.remove("hidden");
      }
      </script>

        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - AI Camp Synthetic Codes NLP</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static',filename='/js/scripts-creative.js') }}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>

